[licenses]
allow = [
  "Apache-2.0",
  "MIT",
  "Unicode-3.0",
  "Unlicense",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"
wildcards = "deny"

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]
unmaintained = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
