name: "Litterbox: build and test"

on:
  workflow_call: {}

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-24.04
    permissions:
      actions: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - name: Install Rust
        run: |
          rustup toolchain install stable
          rustup default stable
          rustup component add clippy
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main
        with:
          version: 1.17.5
      - name: Install cargo-deny
        run: cargo-binstall cargo-deny --version 0.19.0 --no-confirm
      - name: Lint
        if: "!cancelled()"
        run: cargo clippy --locked --all-targets --all-features
      - name: Check
        if: "!cancelled()"
        run: cargo check --locked
      - name: Test
        if: "!cancelled()"
        run: cargo test --locked
      - name: Run audit
        if: "!cancelled()"
        run: cargo deny check
