name: Release

on:
  push:
    tags: ["v*"]

jobs:
  release:
    name: Build and release
    permissions:
      actions: write
      contents: write
      id-token: write
    uses: ./.github/workflows/litterbox.build-and-release.yaml
